@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html{
    scroll-behavior: smooth;
}
:root{
    --black: #170043;
    --dark: #062F4F;
    --light: #813772;
    --red: #B82601;
    --font: #478fe2;
    --lightfont: #58afd1;
}
::-webkit-scrollbar{
    width: 4px;
    background-color: var(--black);
}
::-webkit-scrollbar-thumb{
    background-color: var(--lightfont);
    border-radius: 2rem;
}

/* Universal Styles */
body{
    background-color: #01202c;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}.heading{
    padding-left: 3rem;
    font-size: 3rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
}.underline{
    height: 2px;
    width: 15rem;
    background-color: white;
    transition: all 2s ease;
}.underline.open{
    width: 35rem;
}

/**/

.content{
    width: 100%;
    height: 87vh;
    display: flex;
}.main{
    width: 84%;
    padding: 5rem 5rem 2rem 5rem;
    color: white;
}

/* Introduction */
.introduction{
    padding: 2rem 6rem 2rem 6rem;
}.introduction > div{
    padding-bottom: 1rem;
    font-weight: 200;
    color: var(--lightfont);
}.introduction .heading{
    font-size: 4rem;
    font-weight: 800;
    color: rgb(190, 244, 255);
}.introduction .heading > div{
    opacity: 0.5;
}.introduction .subtext{
    width: 60%;
    font-size: .9rem;
    font-weight: 300;
    word-spacing: 3px;
    color: rgb(156, 239, 255);
}.introduction .subtext p span{
    transition: all .2s ease;
}.introduction .subtext p span:hover{
    font-size: 1.15rem;
    cursor: pointer;
    color: var(--lightfont);
}

/**/