@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root{
    --black: #170043;
    --dark: #062F4F;
    --light: #813772;
    --red: #B82601;
    --font: #478fe2;
    --lightfont: #58afd1;
}
.about{
    padding: 4rem;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .heading > div{
    font-size: 1rem;
    font-weight: 300;
    color: var(--lightfont);
}

.about .subtext{
    width: 80%;
    padding: 1rem 4rem 3rem 4rem;
    font-weight: 200;
}
.image{
    padding: 2rem;
    background: radial-gradient(circle at center ,#022f41 ,#01202c);
    border-radius: 10rem;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}.image img{
    border-radius: 10rem;
}

@media all and (max-width: 900px){
    .about{
        padding: 0;
        width: 100vw;
    }
    .about .heading{
        font-size: 1.5rem;
    }
    .about .subtext{
        width: 100%;
        font-size: .5rem;
        padding: 1rem;
    }
    .image img{
        width: 10rem;
        height: auto;
    }
}