:root{
    --black: #170043;
    --dark: #062F4F;
    --light: #813772;
    --red: #B82601;
    --font: #478fe2;
    --lightfont: #58afd1;
}

/* Nav bar */
.navbar{
    z-index: 200;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    background-color: var(--lightfont);
    height: 12vh;
    transition: all .2s ease;
}.navbar.open{
    height: 10vh;
    background-color: #01202c08;
    backdrop-filter: blur(10px);
}.navbar.open .right div{
    width: 2rem;
    height: 2rem;
}.navbar.open .right img{
    width: 3rem;
}
.right{
    width: 30%;
}
.right div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 10rem;
    background-color: white;
    margin: 0rem 0rem 0rem 1rem;
    transition: all .2s ease;
}
.right img{
    height: fit-content;
    width: 4rem;
    transition: all .2s ease;
}
.left{
    width: 70%;
}
.left .navigation{
    /* padding-top: 1rem; */
    font-size: .8rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.left .navigation div{
    font-family: 'Poppins mono', sans-serif;
    color: var(--lightfont);
    padding: .75rem;
}
.left .navigation button{
    margin: 0rem 1.5rem 0rem 0rem;
}
.left .navigation a{    
    font-family: 'Poppins mono', sans-serif;
    text-decoration: none;
    color: white;
    padding: 0rem .5rem 0rem .5rem;
    transition: all .25s ease;
}
.left .navigation a:hover{
    transform: scale(1.1);
    color: rgb(196, 196, 196);
}
.left .navigation .navbtn{
    outline: none;
    appearance: none;
    background-color: #01202c;
    border: none;
    font-family: 'Poppins mono', sans-serif;
    padding: 1rem;
}
/**/
.navmenu-trigger{
    z-index: 100;
    height: 100px;
    width: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
    transform: translateY(-32px);
}.navmenu-trigger:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
.menu-burger{
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(255, 101, 47, .2);
    transition: all .25s ease-in-out;
}
.menu-burger::before,
.menu-burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-shadow:  0 2px 5px rgba(255, 101, 47, .2);
    transition: all .25s ease-in-out;
}
.menu-burger::before{
    transform: translateY(16px) !important;
}
.menu-burger::after{
    transform: translateY(-16px) !important;
}
.navmenu-trigger.open .menu-burger{
    background: transparent;
    box-shadow: none;
    z-index: 1;
}
.navmenu-trigger.open .menu-burger::before{
    transform: rotate(45deg) !important;
    z-index: 1;
}
.navmenu-trigger.open .menu-burger::after{
    transform: rotate(-45deg) !important;
    z-index: 1;
}
.navmenu-trigger{
    display: none;
}
.mobile-navbar{
    display: none; justify-content: center;
    flex-direction: column;

    position: fixed; top: 0; left: 0;
    height: 100%; width: fit-content;
    opacity: 0;
    z-index: 200;
    background-color: #01202c08;
    backdrop-filter: blur(10px);

    transition: all .2s ease;
}.mobile-navbar.open{
    opacity: 1;
    display: flex;
}
.mobile-navbar.open div{
    font-family: 'Poppins mono', sans-serif;
    color: var(--lightfont);
    padding: .75rem;
    margin: .5rem;
}
.mobile-navbar.open button{
    margin: 0rem 1.5rem 0rem 0rem;
    align-self: center;
    margin: 2rem;
}
.mobile-navbar a{
    display: none;
}
.mobile-navbar.open a{    
    font-family: 'Poppins mono', sans-serif;
    text-decoration: none;
    display: unset;
    color: white;
    padding: 1rem .5rem 1rem .5rem;
    margin: 1rem;
    transition: all .25s ease;
}
.mobile-navbar.open a:hover{
    transform: scale(1.1);
    color: rgb(196, 196, 196);
}
.mobile-navbar.open .navbtn{
    outline: none;
    appearance: none;
    background-color: #01202c;
    border: none;
    font-family: 'Poppins mono', sans-serif;
    padding: 1rem;
}


@media all and (max-width: 900px){
    .navigation{
        display: none !important;
    }
    .navmenu-trigger{
        display: unset;
    }
    .navbar{
        justify-content: space-between;
    }
    .left{
        width: 30%;
    }
    .mobile-navbar{
        display: unset;
    }
}