:root{
    --black: #170043;
    --dark: #062F4F;
    --light: #813772;
    --red: #B82601;
    --font: #478fe2;
    --lightfont: #58afd1;
}

/* Nav bar */
.navbar{
    z-index: 200;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    background-color: var(--lightfont);
    height: 12vh;
    transition: all .2s ease;
}.navbar.open{
    height: 10vh;
    background-color: #01202c08;
    backdrop-filter: blur(10px);
}.navbar.open .right div{
    width: 2rem;
    height: 2rem;
}.navbar.open .right img{
    width: 3rem;
}
.right{
    width: 30%;
}
.right div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 10rem;
    background-color: white;
    margin: 0rem 0rem 0rem 1rem;
    transition: all .2s ease;
}
.right img{
    height: fit-content;
    width: 4rem;
    transition: all .2s ease;
}
.left{
    width: 70%;
}
.left .navigation{
    /* padding-top: 1rem; */
    font-size: .8rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.left .navigation div{
    font-family: 'Poppins mono', sans-serif;
    color: var(--lightfont);
    padding: .75rem;
}
.left .navigation button{
    margin: 0rem 1.5rem 0rem 0rem;
}
.left .navigation a{    
    font-family: 'Poppins mono', sans-serif;
    text-decoration: none;
    color: white;
    padding: 0rem .5rem 0rem .5rem;
    transition: all .25s ease;
}
.left .navigation a:hover{
    transform: scale(1.1);
    color: rgb(196, 196, 196);
}
.left .navigation .navbtn{
    outline: none;
    appearance: none;
    background-color: #01202c;
    border: none;
    font-family: 'Poppins mono', sans-serif;
    padding: 1rem;
}
/**/